<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="orderAspect" class="com.quest.web.aop.OrderAspect"/>
    <aop:config>
        <aop:pointcut id="orderPoint" expression="execution(* com.quest.web.aop..*Service.*(..))"/>
        <aop:aspect ref="orderAspect">
            <aop:before method="preProcess" pointcut-ref="orderPoint"/>
            <aop:around method="process" pointcut-ref="orderPoint"/>
            <aop:before method="afterProcess" pointcut-ref="orderPoint"/>
        </aop:aspect>
    </aop:config>

    <bean id="orderService" class="com.quest.web.aop.OrderService"/>
</beans>
