<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>Shiro Configuration</description>

    <bean id="shrioFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/index"/>
        <property name="unauthorizedUrl" value="/unauthorizedUrl"/>
        <!--初始权限-->
        <property name="filterChainDefinitions">
            <value>
                /favicon.ico = anon
                /Captcha.jpg = anon
                /login/timeout = anon
                /login = authc
                /logout = logout
                /resources/** = anon
                /** = user
            </value>
        </property>
    </bean>
    <!-- Shiro安全接口 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroDbRealm" />
        <!--  缓存用户的授权信息  -->
        <property name="cacheManager" ref="shiroEhcacheManager" />
    </bean>
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:/shiro/ehcache-shiro.xml" />
    </bean>
    <!-- 用户域认证和鉴权 -->
    <bean id="shiroDbRealm" class="com.quest.shiro.ShiroDbRealm"/>

</beans>